.footer {
  position: fixed;
  bottom: 0;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
  background: #020b17;
  color: #fff;
  padding-block: 0.8em;
}

.item {
  display: inline-block;
  margin: 0.5em;
}
